<!-- table of attendees -->
<div class="banner bg-primary"><h2>Attendee Report</h2></div>
<div class="table-responsive">
<table class="table-bordered table-hover">
  <!-- TODO - styling not quite working -->
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let attendee of attendees">
          <td>{{attendee.firstName}}</td>
          <td>{{attendee.lastName}}</td>
          <td>{{attendee.address}}</td>
          <td>{{attendee.address2}}</td>
          <td>{{attendee.city}}</td>
          <td>{{attendee.state}}</td>
          <td>{{attendee.zipCode}}</td>
          <td>{{attendee.country}}</td>
          <td>{{attendee.registerDate | date: 'y-M-d h:m Z'}}</td>
      </tr>
  </tbody>
</table>
</div>