<!-- TODO - CENTER AND HIGHLIGHT -->
<!-- table of attendees -->
<div class="table-responsive">
<table class="table-striped table-bordered table-hover">
  <!-- TODO - styling not quite working -->
  <thead class="thead-inverse">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <!-- TODO sort by date -->
      <tr *ngFor="let attendee of attendees">
          <td>{{attendee.firstName}}</td>
          <td>{{attendee.lastName}}</td>
          <td>{{attendee.address}}</td>
          <td>{{attendee.address2}}</td>
          <td>{{attendee.city}}</td>
          <td>{{attendee.state}}</td>
          <td>{{attendee.zipCode}}</td>
          <td>{{attendee.country}}</td>
          <!-- TODO - FIX THIS DATE FORMAT -->
          <td>{{attendee.registerDate | date: 'y-M-d h:m:s Z'}}</td>
      </tr>
  </tbody>
</table>
</div>
